.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  margin: 5px;
}

input {
  font-size: 30px;
}

h2 {
  color: rgb(34,34,34);
  font-weight: 200;
  margin: 0 0 24px 0;
}

section#loginBox {
  background-color: rgb(255,255,255);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset, 0 0 4px rgba(0,0,0,0.2);
  margin: 40px auto; /*aligns center*/
  padding: 40px;
  width: 500px;
}

form.minimal label {
  display: block;
  margin: 6px 0;
}

section#signUpBox {
  background-color: rgb(255,255,255);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset, 0 0 4px rgba(0,0,0,0.2);
  margin: 40px auto; /*aligns center*/
  padding: 40px;
  width: 500px;
}

section#confirmationBox {
  background-color: rgb(255,255,255);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset, 0 0 4px rgba(0,0,0,0.2);
  margin: 40px auto; /*aligns center*/
  padding: 40px;
  width: 500px;
}
